*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #0f0c29; 
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
   
}

main{
    display:flex;
    flex-direction:column;
text-align: center;

}

.title-logo{
    box-shadow: 0.25px 1px 10px #0f0c29;
}

h1{
color:cyan;
font-family: 'Oxygen', sans-serif;
text-shadow: 0.25px 1px 10px rgb(223, 252, 76);
font-size: 40px;
font-weight:lighter;
margin-top:1em;
}

span > img{
    margin-top: 10px;
    z-index: -1;
    opacity: 0.8;
    padding: 1em;
    height:90px;
    width:90px;
    }


 .carousel-main{
    
    display:flex;
    justify-content: center;
    align-items: center;
    
 } 
 
 .carousel-buttons{
position: absolute;
display:flex;
justify-content: space-between;
transform: translateY(150px);
cursor:pointer;
z-index:1;
border:none;
width:100%;
padding: 2em;

}

.prevBtn:hover, .nextBtn:hover{
    width:35px;
    height:35px;
    border-radius: 50%;
    box-shadow:0.25px 1px 20px rgb(223, 252, 76);
    border:none;
    opacity: 0.6;
}

.prevBtn, .nextBtn{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    background: cyan;
    opacity: 0.1;
}





.carousel{
box-shadow: 0 0 20px rgb(223, 252, 76);
border-radius: 15px;
max-width:600px;
position: relative;
margin: 3em;
width:100%;
display: flex;

}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
    display:none;
}
.carousel .carousel-item,
.carousel .carousel-item-visible {
    display:block;
    animation: fadeSlides 0.5s;
}

.carousel .carousel-item img{
    width:100%;
    max-width: 600px;
    height:auto;

}


img{
    border-radius: 15px;
    width: 100%;
}


    
@keyframes fadeSlides {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}